.formation{
    width:33.333%;
    box-sizing: border-box;
    padding:15px;
    min-height: 100%;
}

.formation article{
   
    background-color:#b0b0b0;
    padding: 15px;
    min-height:100%;
    box-sizing: border-box;
}

.formation img{
    min-width: 100%;
    min-height:100%
}

.cadre{
    height:200px;
    overflow: hidden;
}

@media(max-width:992px){
    .formation{
        width: 48%
    }
}

@media(max-width:768px){
    .formation{
        width:100%
    }
}